{% extends "base.html" %}

{% block title %}Adicionar Novo Veículo - Scala Gestão{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h2>Cadastrar Novo Veículo</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label for="placa" class="form-label">Placa</label>
                    <input type="text" class="form-control" id="placa-input" name="placa" required>
                </div>
                <div class="mb-3">
                    <label for="modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" required>
                </div>
                <div class="mb-3">
                    <label for="ano" class="form-label">Ano</label>
                    <input type="number" class="form-control" id="ano" name="ano" required>
                </div>
                <div class="mb-3">
                    <label for="km_inicial" class="form-label">Quilometragem Inicial</label>
                    <input type="number" class="form-control" id="km_inicial" name="km_inicial" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Cadastrar Veículo</button>
                <a href="{{ url_for('home') }}" class="btn btn-secondary w-100 mt-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}